{{ define "tag" }}
{{ template "header" }}
<a href="/"><-Back to Home</a>
<div>
	<h5>Search by Tag:</h5>
	<h1>{{ .Tag }}</h1>
</div>
<div>
	<section>
	{{ range .Posts }}
		<a href="/post/{{.Slug}}">
			<h1>{{.Meta.Title}}</h1>
		</a>
		{{ .Meta.Date.Format "January 2, 2006" }}
		<h3 class="subtitle">{{ .Meta.Description }}</h3>
		<hr/>
	{{ else }}
		<h3>Sorry, there is no post with tag: {{ .Tag }}</h3>
		<hr/>
	{{ end }}
	</section>
	<section>
		<nav>
			<ul>
			{{ if gt .PageNow 1 }}
				<li><a href="/page/{{ dec .PageNow }}">Prev</a></li>
			{{ end }}
				<li><a href="#">{{.PageNow}}</a></li>
			{{ if lt .PageNow .PageMax }}
				<li><a href="/page/{{ inc .PageNow }}">Next</a></li>
			{{ end }}
			</ul>
		</nav>
	</section>
</div>
{{ template "footer" }}
{{ end }}
